<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango - About</title>
    </head>

    <body>
        <h1>About</h1>
        <div>
            This tutorial has been put together by Ross. <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static "images/about1.png" %}"
                 alt="About page" />
            <img src="{{ MEDIA_URL}}cat.jpg" />
        </div>
    </body>

</html>